.hero-div {
    height: 90vh;
    background-image: url("/images/mainpage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay {
    height: 90vh;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    width: 50vw;
    color: var(--blue);
    font-size: 4rem;
    text-align: center;
    margin: 5vh;
}

.hero-paragraph {
    color: white;
    font-size: 2rem;
    width: 70vw;
    text-align: center;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    height: auto;
}
.content-header {
    width: 100;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.content-title {
    font-size: 2rem;
    margin: 0; 
    text-align: center;
}

.content-list {
    font-size: 1.2rem;
    width: 100vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: leftr;
    align-items: center;
    padding: 3rem 1rem;
}

.content-text {
    width:50vw;
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

