div.service-div {
    min-height: 33rem;
    width: 96vw;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    margin-top: 3vh;
    margin-right: 2vw;
    margin-left:2vw;
    background-color: white;
    padding: 5%;
}

div.image {
    height: 20rem;

}

img.image {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 1000px) {
    div.service-div {
        min-height: 40rem;
        width: 96%;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
        margin-top: 3vh;
        background-color: white;
        padding: 5%;
    }
}

.service-title {
    font-size: 2rem;
    filter: none;
    margin-top: 1rem;
    margin-bottom: 1vh;
    text-align: center;
    font-weight: normal;
}

p.service-text {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

p.service {
    font-size: 1rem;
}

p.price {
    font-size: 1rem;
}

.service-container {
    display: grid;
    /* Default: 1 column for mobile (1fr fills the width) */
    grid-template-columns: 1fr;
    place-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 1000px) {
    .service-container {
      /* Change to 2 equal columns */
      padding-left: 5rem;
      padding-right: 5rem;
      grid-template-columns: 1fr 1fr; 
    }

    p.service-text {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1rem;
        height: 8rem;
    }
}
  
  /* For screens wider than 768px (tablets/desktops) */
  @media (min-width: 1500px) {
    .service-container {
      /* Change to 2 equal columns */
      padding-left: 8rem;
      padding-right: 8rem;
      grid-template-columns: 1fr 1fr 1fr; 
    }

    
    p.service-text {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 1rem;
        height: 8rem;
    }
  }

.price-row {
    display: grid;
    grid-template-columns: 7fr 1fr;
    align-items: center;
    gap: 0.75rem;
}

.dash-div{
    display: flex;
}

.dash-div::after{
    content:"";
    flex-grow: 1;
    border-bottom: 1px dashed #aaa;
    transform: translateY(-.5em) translateX(.3em);
}

.content-div {
    background-color: rgba(0,0,0,0.10);
    padding-bottom: 3rem;
}

.hidden {
    display: none;
}

.service-header {
    height: 6rem;
    width: 100%;
    background-color: var(--blue);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    display: flex;
}

.service-header-title {
    font-size: 3rem;
    font-style: normal;
}