.hero-div {
    height: 90vh;
    background-image: url("Balance+Physiotherapy+2019+Jamie+Lahtinen+-+06+Treatment+Room+Two.webp");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    height: 90vh;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    width: 50vw;
    color: var(--blue);
    font-size: 4rem;
    text-align: center;
    margin: 5vh;
}

.hero-paragraph {
    color: white;
    font-size: 2rem;
    width: 70vw;
    text-align: center;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content:first baseline;

}
.content-header {
    width: 100;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.content-title {
    font-size: 2.5rem;
    margin: 0; 
    text-align: center;
}

.content-list {
    font-size: 2rem;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.content-text {
    width: 60vw;
}

