.hero-div {
    height: 90vh;
    background-image: url("Balance+Physiotherapy+2019+Jamie+Lahtinen+-+06+Treatment+Room+Two.webp");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    height: 90vh;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    width: 30vw;
    color: var(--blue);
    font-size: xxx-large;
    text-align: center;
    margin: 5vh;
}

.hero-paragraph {
    color: white;
    font-size: x-large;
    width: 50vw;
    text-align: center;
}

.content-div {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
}
.content-header {
    width: 100vw;
    background: var(--blue);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-title {
    font-size: xx-large;
}

.content-list {
    font-size: x-large;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text {
    width: 60vw;
}

