div.service-div {
    height: 20vh;
    width: 96vw;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    margin-top: 3vh;
    margin-right: 2vw;
    margin-left:2vw;
    background-color: white;
    padding: 2%;
}

@media (min-width: 768px) {
    div.service-div {
        height: 20vh;
        width: 44vw;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
        margin-top: 3vh;
        margin-right: 2vw;
        margin-left:2vw;
        background-color: white;
        padding: 2%;
    }
}

.service-title {
    font-size: xx-large;
    filter: none;
    margin-bottom: 1vh;
}

.service-text .prices-text{
    font-size: large;
    filter:none;
}

.service-container {
    display: grid;
    /* Default: 1 column for mobile (1fr fills the width) */
    grid-template-columns: 1fr; 
    gap: 20px;
  }
  
  /* For screens wider than 768px (tablets/desktops) */
  @media (min-width: 768px) {
    .service-container {
      /* Change to 2 equal columns */
      grid-template-columns: 1fr 1fr; 
    }
  }


.price-row {
    display: grid;
    grid-template-columns: 7fr 1fr;
    align-items: center;
    gap: 0.75rem;
}

.dash-div{
    display: flex;
}

.dash-div::after{
    content:"";
    flex-grow: 1;
    border-bottom: 1px dashed #aaa;
    transform: translateY(-.5em) translateX(.3em);
}


.service-header {
    width: 100vw;
    background: var(--blue);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.service-header-button {
    border: none;
    font-size: large;
    background: none;
    margin-left: 3vw;
    margin-right: 3vw;
}

.service-header-button:hover{
    color: gray;
}

.service-header-text {
    color: white;
    font-size: x-large;
}

.content-div {
    background-color: rgba(0,0,0,0.10);
    padding-bottom: 3vh;
}

.hidden {
    display: none;
}